/go-cqhttp/data
/go-cqhttp/logs
/go-cqhttp/config.yml
/go-cqhttp/device.json
/go-cqhttp/session.token
/go-cqhttp/address.txt
/api/__pycache__
/plugins/__pycache__
/plugins/joke
/*/__pycache__
/*/*/__pycache__
/__pycache__
/logs/*

data
config.yml
device.json
session.token
address.txt
flask.log
.gitignore